PORT=3000
PUBLIC_SITE_URL=https://aerovistaanalytics.com
PUBLIC_CONTACT_EMAIL=contact@aerovistaanalytics.com
CONTACT_TO_EMAIL=contact@aerovistaanalytics.com
CONTACT_FROM_EMAIL=AeroVista Analytics <contact@aerovistaanalytics.com>
OWNER_EMAIL=kempa@aerovistaanalytics.com
RESEND_API_KEY=
CSRF_SECRET=
